.about{
    color:#008E7F;
    font-family: "'Noto Serif", serif;
    font-size: 2em;
    margin-left:9em;
    margin-top:30px;
}

.about h2 {
    font-size: 1.6em;
}

div#about-content {
    width: 40%;
    background: #008E7F;
    color: white;
    padding: 1em;
    margin-top: 3em;
    box-shadow: 0px -7px 0px 0px #15a595;
}

div#about-separator {
    height: 5em;
    width: 3%;
    margin-left: 22em;
    margin-bottom: -6em;
    background: #e8e8e8;
}

div#about-content1 {
    width: 40%;
    background: #008E7F;
    color: white;
    padding: 1em;
    margin-left: 20em;
    margin-top: 3em;
    box-shadow: 0px -7px 0px 0px #15a595;
}

div#about-separator1 {
    height: 5em;
    width: 3%;
    margin-left: 45em;
    margin-bottom: -6em;
    background: #e8e8e8;
}
div#about-content2 {
    width: 40%;
    background: #008E7F;
    color: white;
    padding: 1em;
    margin-top: 3em;
    box-shadow: 0px -7px 0px 0px #15a595;
}

div#about-separator2 {
    height: 5em;
    width: 3%;
    margin-left: 45em;
    margin-bottom: -6em;
    background: #e8e8e8;
}

.our-values {
    padding-left: 28%;
    font-size: 3em;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.yellow-line {
    height: 0.15em;
    width: 3em;
    margin-top: .8em;
}

.yellow-line.yellow-gradient1 {
    background: linear-gradient(to right,#F0BD0D, #FFFD71);
}

.yellow-line.yellow-gradient2 {
    background: linear-gradient(to right,#FFFD71, #F0BD0D);
}

p.values-content {
    padding-left: 1em;
    padding-right: 1em;
}

.values-box {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 4em;
}

.values-box-content {
    height: 24em;
    width: 26%;
    background: #FFFFFF;
    margin-top: 4em;
    text-align: center;
    //padding: 5em 3em 1em 7.5em;
}

.container-fluid.values-container {
    background: #F3F3F3;
}

img.top-gradient-image {
    padding-bottom: 1em;
}

.values-box-content p {
    font-size: 1.8em;
    color: #999999;
}

.team-container img.values-image {
    padding-bottom: 1em;
    border-radius: 50%;
    background: rebeccapurple;
}

.container-fluid.team-container {
    background: #FFFFFF;
    width: 90%;
}