#carouselExampleIndicators {
  margin-bottom: 2rem; }

.carousel-item img {
  height: 90vh; }

.carousels__container {
  height: 40rem;
  width: 100rem !important;
  margin-top: 6rem; }

.carousel-caption {
  position: static !important; }

.mobile__img {
  height: 39rem !important;
  border-radius: 2%;
  margin-right: -15em; }

.googleplay__img {
  width: 20em !important;
  height: auto !important;
  margin: 5rem 0 0 -7rem !important; }

.body_background {
  background-image: linear-gradient(to bottom right, #008080, #ffbf00);
  overflow: hidden; }

.carousel__side_text h2 {
  font-family: "Noto Serif";
  font-size: 3.5rem;
  margin-left: 3.2rem; }

.carousel__side_text p {
  font-family: "Roboto";
  text-align: left;
  font-size: 2.3rem;
  margin-left: 3.5rem; }

.main_services {
  background-image: url("../bimg/photo-1510148199876-8a856ee41d42.jpg");
  height: 55rem;
  opacity: 0.99; }

.main_services h1 {
  font-family: 'Noto Serif';
  font-size: 5rem;
  color: #E7CFBA;
  text-align: center;
  padding: 4rem; }

.services_icons {
  background-color: #ffbf00;
  border-radius: 1rem;
  text-align: center;
  padding: 4rem;
  margin-right: 3rem;
  height: 20rem;
  background-color: rgba(8, 8, 8, 0.548); }

.services_icons h2 {
  margin-top: 2rem;
  font-family: 'Roboto';
  color: #CCCCCC; }
