#carouselExampleIndicators {
    // height: 100vh;
    margin-bottom: 2rem;
}
.carousel-item img{
    height: 90vh;
}

.carousels__container {
    height: 40rem;
    width: 100rem !important;
    margin-top: 6rem;
}

.carousel-caption {
    position: static !important;
}

.mobilephone__img {
    height: 38rem !important;
    width: 22.6rem;
}

.mobile__img {
    height: 31.49rem !important;
    border-radius: 2%;
    width: 19.38rem;
    margin: -39.4rem 0.072rem 0rem 0.25rem;
}

.googleplay__img {
    width: 20em !important;
    height: auto !important;
    margin: 5rem 0 0 -7rem !important;
}

.body_background {
    background-image: linear-gradient(to bottom right,#008080, #ffbf00);
    overflow:hidden;
}

.carousel__side_text h2 {
    font-family: "Noto Serif";
    font-size: 3.5rem;
    margin-left: 3.2rem;
}

.carousel__side_text p {
    font-family: "Roboto";
    text-align: left;
    font-size: 2.3rem;
    margin-left: 3.5rem;
}

.main_services {
    background-image: url("../bimg/photo-1510148199876-8a856ee41d42.jpg");
    height: 55rem;
    opacity: 0.99;
}

.main_services h1 {
    font-family: 'Noto Serif';
    font-size: 5rem;
    color: #E7CFBA;
    text-align: center;
    padding: 4rem;
}

.services_icons {
    z-index: 1;
    background-color: #ffbf00;
    border-radius: 1rem;
    text-align: center;
    padding: 4rem;
    margin-right: 3rem;
    height: 20rem;
    background-color:rgba(2, 1, 1, 0.493);
}

.services_icons h2 {
    margin-top: 2rem;;
    font-family: 'Roboto';
    color: #CCCCCC;
}

.main_bidding {
    margin-top: 15rem;
}

.display_bidding {
    h1 {
        font-family: 'Noto Serif';
        font-size: 5rem;
        margin-top: 9rem;
        margin-left: 11.183rem;
    }

    p {
        font-family: 'Roboto';
        font-size: 2.513rem;
        margin-top: 2rem;
        color: #666666;
        margin-left: 11.183rem;
    }
}

.google_assistant_image {
    margin-left: 9rem;
}

.google_mobile_assistant {
    height: 45rem;
    width: 33rem;
}

.google_mobile_assistant_screen {
    margin: -50.85rem -7rem 2rem 4.5rem;
    border-radius: 1rem;
    width: 295px;
    height: 35em;
}

.main_bidding_plan {
    margin: 6.7rem -29rem 0 11rem;

    img {
        width: 61rem;
        height: 30rem;
    }
}

.bidding_icon1__main {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: #999999;
    border: 1rem solid #FFFFFF;
    padding: 0rem 0rem 0rem 2.5rem;
    margin: -4rem 0rem 0rem -42rem;
    font-size: 5rem;
    font-family: Roboto;
    color: #FFFFFF;

    h2 {
        color: #999999;
        font-size: 2.5rem;
        margin: -9rem 0rem 0rem 7rem;
    }
}

.bidding_icon2__main {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: #999999;
    border: 1rem solid #FFFFFF;
    padding: 0rem 0rem 0rem 2.5rem;
    margin: 3rem 0rem 0rem -24rem;
    font-size: 5rem;
    font-family: Roboto;
    color: #FFFFFF;
    h2 {
        color: #999999;
        font-size: 2.5rem;
        margin: -14rem 0rem 0rem 7rem;
        width: 19rem;
    }
}

.bidding_icon3__main {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: #01796B;
    border: 1rem solid #FFFFFF;
    padding: 0rem 0rem 0rem 2.5rem;
    margin: -4rem 0rem 0rem 13rem;
    font-size: 5rem;
    font-family: Roboto;
    color: #FFFFFF;

    i {
        font-size: 4rem;
        margin: 1rem -0.9rem;
    }

    h2 {
        color: #999999;
        font-size: 2.5rem;
        margin: -14rem 0rem 0rem 3rem;
        width: 11rem;
    }
}

.loan_offers {
    text-align: center;
    margin-top: 4rem;
    h2 {
        font-family: 'Noto Serif';
        font-size: 5rem;
    }

    p {
        font-size: 2.5rem;
        color: #666666;
        font-family: Roboto;
        width: 40rem;
        margin: 4rem 31rem;
    }

    img {
        margin: 5rem 6rem;
    }
}


// MediaQueries

@media only screen and (min-width: 768px) {
    .google_assistant_image {
        margin: 0rem;
    }

    .loan_offers p {
        margin: 4rem 26rem;
    }
}