#carouselExampleIndicators {
  height: 100vh; }

.carousel-item img {
  height: 90vh; }

.carousels__container {
  height: 40rem;
  width: 100rem !important;
  margin-top: 6rem; }

.carousel-caption {
  position: static !important; }

.mobile__img {
  height: 39rem !important;
  border-radius: 2%;
  margin-right: -15em; }

.googleplay__img {
  width: 20em !important;
  height: auto !important;
  margin: 5rem 0 0 -7rem !important; }

.body_background {
  background-image: linear-gradient(to bottom right, #008080, #ffbf00);
  overflow: hidden; }

.carousel__side_text h2 {
  font-family: "Noto Serif";
  font-size: 3.5rem;
  margin-left: 3.2rem; }

.carousel__side_text p {
  font-family: "Roboto";
  text-align: left;
  font-size: 2.3rem;
  margin-left: 3.5rem; }
