#carouselExampleIndicators {
  margin-bottom: 2rem; }

.carousel-item img {
  height: 90vh; }

.carousels__container {
  height: 40rem;
  width: 100rem !important;
  margin-top: 6rem; }

.carousel-caption {
  position: static !important; }

.mobilephone__img {
  height: 38rem !important;
  width: 22.6rem; }

.mobile__img {
  height: 31.49rem !important;
  border-radius: 2%;
  width: 19.38rem;
  margin: -39.4rem 0.072rem 0rem 0.25rem; }

.googleplay__img {
  width: 20em !important;
  height: auto !important;
  margin: 5rem 0 0 -7rem !important; }

.body_background {
  background-image: linear-gradient(to bottom right, #008080, #ffbf00);
  overflow: hidden; }

.carousel__side_text h2 {
  font-family: "Noto Serif";
  font-size: 3.5rem;
  margin-left: 3.2rem; }

.carousel__side_text p {
  font-family: "Roboto";
  text-align: left;
  font-size: 2.3rem;
  margin-left: 3.5rem; }

.main_services {
  background-image: url("../bimg/photo-1510148199876-8a856ee41d42.jpg");
  height: 55rem;
  opacity: 0.99; }

.main_services h1 {
  font-family: 'Noto Serif';
  font-size: 5rem;
  color: #E7CFBA;
  text-align: center;
  padding: 4rem; }

.services_icons {
  z-index: 1;
  background-color: #ffbf00;
  border-radius: 1rem;
  text-align: center;
  padding: 4rem;
  margin-right: 3rem;
  height: 20rem;
  background-color: rgba(2, 1, 1, 0.493); }

.services_icons h2 {
  margin-top: 2rem;
  font-family: 'Roboto';
  color: #CCCCCC; }

.main_bidding {
  margin-top: 15rem; }

.display_bidding h1 {
  font-family: 'Noto Serif';
  font-size: 5rem;
  margin-top: 9rem;
  margin-left: 11.183rem; }

.display_bidding p {
  font-family: 'Roboto';
  font-size: 2.513rem;
  margin-top: 2rem;
  color: #666666;
  margin-left: 11.183rem; }

.google_assistant_image {
  margin-left: 9rem; }

.google_mobile_assistant {
  height: 45rem;
  width: 33rem; }

.google_mobile_assistant_screen {
  margin: -50.85rem -7rem 2rem 4.5rem;
  border-radius: 1rem;
  width: 295px;
  height: 35em; }

.main_bidding_plan {
  margin: 6.7rem -20rem 0 11rem; }
  .main_bidding_plan img {
    width: 61rem;
    height: 30rem; }

.bidding_icon1__main {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: #999999;
  border: 1rem solid #FFFFFF;
  padding: 0rem 0rem 0rem 2.5rem;
  margin: -4rem 0rem 0rem -42rem;
  font-size: 5rem;
  font-family: Roboto;
  color: #FFFFFF; }
  .bidding_icon1__main h2 {
    color: #999999;
    font-size: 2.5rem;
    margin: -9rem 0rem 0rem 7rem; }

.bidding_icon2__main {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: #999999;
  border: 1rem solid #FFFFFF;
  padding: 0rem 0rem 0rem 2.5rem;
  margin: 3rem 0rem 0rem -24rem;
  font-size: 5rem;
  font-family: Roboto;
  color: #FFFFFF; }
  .bidding_icon2__main h2 {
    color: #999999;
    font-size: 2.5rem;
    margin: -14rem 0rem 0rem 7rem;
    width: 19rem; }

.bidding_icon3__main {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: #01796B;
  border: 1rem solid #FFFFFF;
  padding: 0rem 0rem 0rem 2.5rem;
  margin: -4rem 0rem 0rem 13rem;
  font-size: 5rem;
  font-family: Roboto;
  color: #FFFFFF; }
  .bidding_icon3__main i {
    font-size: 4rem;
    margin: 1rem -0.9rem; }
  .bidding_icon3__main h2 {
    color: #999999;
    font-size: 2.5rem;
    margin: -14rem 0rem 0rem 3rem;
    width: 11rem; }

.loan_offers {
  text-align: center;
  margin-top: 4rem; }
  .loan_offers h2 {
    font-family: 'Noto Serif';
    font-size: 5rem; }
  .loan_offers p {
    font-size: 2.5rem;
    color: #666666;
    font-family: Roboto;
    width: 40rem;
    margin: 4rem 31rem; }
  .loan_offers img {
    margin: 5rem 6rem; }

@media only screen and (min-width: 768px) {
  .google_assistant_image {
    margin: 0rem; }
  .loan_offers p {
    margin: 4rem 26rem; } }

img.quotes {
  margin-bottom: -10em; }

p.info-rect {
  height: 9em;
  padding: 1em;
  width: 26%;
  background-color: #B2DFDB;
  border-radius: 3%;
  text-align: right;
  margin-left: 31em; }

span.words {
  font-size: 1.8em; }

.testimonials {
  background: linear-gradient(to right, #01796B, #00695C); }

.testimonial {
  padding: 3em 0; }

.testimonial2 {
  padding: 3em 0; }

.pointer {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #B2DFDB;
  margin-left: 59%;
  margin-top: -4.7%; }

.pointer-right {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #B2DFDB;
  margin-left: 33.4%;
  margin-top: -4.68%; }

.testimonial-image img {
  width: 8%; }

.testimonial-info {
  text-align: right; }

p.person-image img {
  width: 10%;
  margin-top: -4em;
  margin-right: 23em;
  border-radius: 50%;
  background: #4f00df; }

p.info-rect-left {
  height: 9em;
  padding: 1em;
  width: 26%;
  background-color: #B2DFDB;
  border-radius: 3%;
  text-align: left;
  margin-left: 31em; }

img.quotes.right {
  margin-right: -3em;
  margin-left: 19em; }

img.person.left {
  margin-right: 59em; }

p.info-rect-left.teal {
  background: #004D40;
  color: #FFFFFF; }

p.pointer-right.teal {
  border-bottom: 50px solid #004D40; }
