/*------------------------------------
    Settings
-------------------------------------*/

//Colors
$colorPrimary: #EF8521;
$colorSecondary: #6EABBE;
$colorTextSecondary: #a09ba5;
$colorTextPrimary: #8a858f;

//Text
$fontFamily: 'Tajawal', sans-serif;

//Dimensions
$containerPadding: 20px;
$viewMargin: 10px;