/*------------------------------------
    Settings
-------------------------------------*/

//Colors
$colorPrimary: #EF8521;
$colorSecondary: #6EABBE;
$colorTextSecondary: #a09ba5;
$colorTextPrimary: #8a858f;

//Text
$fontFamily: 'Tajawal', sans-serif;

//background
$link-horizontal-padding:20px;
$menu-background:#353535;
$link-vertical-padding:15px; 
$link-hover:#00aedb;
$link-color:white;

//Dimensions
$containerPadding: 20px;
$viewMargin: 10px;