// @import "settings";
// @import "components";
// @import "home";
// @import "footer";
// @import "normalize";
// @import "topbar.scss";


body {
  padding: 0;
  margin: 0;
  font-family:red;
  font-size: 1.2em;
}
*{
  box-sizing:border-box;
}