.navbar{
  background-image: linear-gradient(to bottom right,#00808000, #ffbf0000) !important;
  box-shadow: 3px 3px 5px 1px #ccc;
  #navbarNav ul li a {
    color: #999999 !important;
  }
  overflow:hidden;
}

nav.navbar.navbar-expand-lg.sticky-top {
  height: 6em;
  background: white;
}
