//- doctype html
//- html 
//-     head
//-         include ./includes/head
//-     body
//-         include ./includes/topbar
//-         .container-fluid
//-             div(class ="about" id =" about")
//-                 h2 About us

//-         include ./includes/footer

doctype html
html.no-js(lang='en')
    head
        title
        link(rel="stylesheet", href="css/topNav-about.css")
        include ./includes/head
    body.alt-grid
        include ./includes/about-nav
        .container-fluid
            div(class = "about" id = "about")
                h2 About Us
        .container-fluid
            div(class = "about-separator" id = "about-separator")
            div(class = "about" id = "about-content")
                In Kenya and Africa, money is a scarce
                resource for middle-to-low-income earners.
                In fact, getting it is difficult, as if keeping it is
                not hard enough. The means to grow it are skewed to the disadvantage of the moneyowner.
        .container-fluid
            div(class = "about-separator" id = "about-separator1")
            div(class = "about" id = "about-content1")
                In Kenya and Africa, money is a scarce
                resource for middle-to-low-income earners.
                In fact, getting it is difficult, as if keeping it is
                not hard enough. The means to grow it are skewed to the disadvantage of the moneyowner.
        .container-fluid
            div(class = "about-separator" id = "about-separator2")
            div(class = "about" id = "about-content2")
                In Kenya and Africa, money is a scarce
                resource for middle-to-low-income earners.
                In fact, getting it is difficult, as if keeping it is
                not hard enough. The means to grow it are skewed to the disadvantage of the moneyowner.
        .container-fluid
            div(class="our-values")
                div(class="yellow-line yellow-gradient1")
                p(class="values-content") Our Values
                div(class="yellow-line yellow-gradient2")
        .container-fluid.values-container
            div(class="values-box")
                div(class="values-box-content")
                    img(src="bimg/Image_18.png", alt="to gradient" class="top-gradient-image")
                    img(src="bimg/Image_11.png", alt="Data driven" class="values-image")
                    p Data driven
                div(class="values-box-content")
                    img(src="bimg/Image_18.png", alt="to gradient" class="top-gradient-image")
                    img(src="bimg/Image_10.png", alt="Data driven" class="values-image")
                    p High  energy
                div(class="values-box-content")
                    img(src="bimg/Image_18.png", alt="to gradient" class="top-gradient-image")
                    img(src="bimg/Image_8.png", alt="Data driven" class="values-image")
                    p Investing in Ourselves, Each Other, and Our Efficiency
                div(class="values-box-content")
                    img(src="bimg/Image_18.png", alt="to gradient" class="top-gradient-image")
                    img(src="bimg/Image_12.png", alt="to gradient" class="top-gradient-image")
                    p High  passion
                div(class="values-box-content")
                    img(src="bimg/Image_18.png", alt="to gradient" class="top-gradient-image")
                    img(src="bimg/Image_13.png", alt="Data driven" class="values-image")
                    p Transparency by default
                div(class="values-box-content")
                    img(src="bimg/Image_18.png", alt="to gradient" class="top-gradient-image")
                    img(src="bimg/Image_14.png", alt="Data driven" class="values-image")
                    p High  integrity
        .container-fluid
            div(class="our-values")
                div(class="yellow-line yellow-gradient1")
                p(class="values-content") Team
                div(class="yellow-line yellow-gradient2")
        .container-fluid.team-container
            div(class="values-box")
                div(class="values-box-content")
                    img(src="bimg/nehe.jpg", alt="nehe" class="values-image")
                    h3 Nehemiah Makau
                    p Project Manager
                div(class="values-box-content")
                    img(src="bimg/felo.jpg", alt="Felix" class="values-image")
                    h3 Felix Magani
                    p Lead Developer
                div(class="values-box-content")
                    img(src="bimg/aleki.jpg", alt="Alex" class="values-image")
                    h3 Alex Kimutai
                    p Junior Developer
                div(class="values-box-content")
                    img(src="bimg/tina.jpeg", alt="Tina" class="values-image")
                    h3 Tina 
                    p Research and Strategy
                div(class="values-box-content")
                    img(src="bimg/Dalsy Chomba.jpeg", alt="Dalsy" class="values-image")
                    h3 Dalcy Chomba 
                    p Finance
                div(class="values-box-content")
                    img(src="bimg/James-Kling-Profile-Pic-No-Background-V4.png", alt="" class="values-image")
                    h3 Enoch Maeba
                    p Marketing 
        include ./includes/footer