//- doctype html
//- html 
//-     head
//-         include ./includes/head
//-     body
//-         include ./includes/topbar
//-         .container-fluid
//-             div(class ="about" id =" about")
//-                 h2 About us

//-         include ./includes/footer

doctype html
html.no-js(lang='en')
    head
        include ./includes/head
    body.alt-grid
        include ./includes/topbar
        .container-fluid
            div(class = "about" id = "about")
                h2 About Us
            
        
       


        include ./includes/footer