doctype html
html.no-js(lang='en')
    head
        include ./includes/head
    body.alt-grid
        div.body_background
            include ./includes/topbar
            div(id="carouselExampleIndicators" class="carousel slide" data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                    li(data-target="#carouselExampleIndicators" data-slide-to="1")
                    li(data-target="#carouselExampleIndicators" data-slide-to="2")
                
                div.carousel-inner
                    div(class="carousel-item active")
                        div(class="carousel-caption container carousels__container")
                            div.row
                                div.col-md.carousel__side_text
                                    h2 It's about your money
                                    p Get access to financial services right from the comfort of your phone.
                                    img(src="bimg/googleplay.png", alt="Google Play" class="googleplay__img")
                                div.col-sm
                                    img(src="bimg/Pictasdsadsadsadure1.png", alt="Mobile", class="mobilephone__img")
                                    img(src="bimg/Screenshot_1558428283.png", alt="Mobile", class="mobile__img")
                    
                    div(class="carousel-item")
                        div(class="carousel-caption container carousels__container")
                            div.row
                                div.col-md.carousel__side_text
                                    h2 It's about your money
                                    p Get access to financial services right from the comfort of your phone.
                                    img(src="bimg/googleplay.png", alt="Google Play" class="googleplay__img")
                                div.col-sm
                                    img(src="bimg/Pictasdsadsadsadure1.png", alt="Mobile", class="mobilephone__img")
                                    img(src="bimg/Screenshot_1558428283.png", alt="Mobile", class="mobile__img")
                    
                    div(class="carousel-item")
                        div(class="carousel-caption container carousels__container")
                            div.row
                                div.col-md.carousel__side_text
                                    h2 It's about your money
                                    p Get access to financial services right from the comfort of your phone.
                                    img(src="bimg/googleplay.png", alt="Google Play" class="googleplay__img")
                                div.col-sm
                                    img(src="bimg/Pictasdsadsadsadure1.png", alt="Mobile", class="mobilephone__img")
                                    img(src="bimg/Screenshot_1558428283.png", alt="Mobile", class="mobile__img")
        div.main_services
            h1 Just a tap away
            div.container
                div.row
                    div.col-sm.services_icons
                        img(src="image/Image_15.png", alt="Wallet Icon")
                        br
                        h2 Bid My Doh
                    div.col-sm.services_icons
                        img(src="image/Image_14.png", alt="Wallet Icon")
                        h2 Loan providers
                    div.col-sm.services_icons
                        img(src="image/Image_16.png", alt="Wallet Icon")
                        h2 Branch finder
        .main_bidding
            .display_bidding.container-fluid
                .row
                    .col-md
                        h1 Bid My Doh
                        p Grow your money with ease. Let deposit taking institutions bid for your money
                        .main_bidding_plan
                            img(src="bimg/line.png", alt="Bidding Line")
                    .col-md.google_assistant_image
                        img(src="/bimg/download-mobile-cell-phone-in-hand-PNG-transparent-images-transparent-backgrounds-PNGRIVER-COM-lg-g6_google-assistant.png", alt="Google Mobile assistant" class='google_mobile_assistant')
                        img(src="/bimg/Screenshot_1558428283.png", alt="Google Mobile assistant" class='google_mobile_assistant_screen')
                    
                        .bidding_icon1__main 1
                            h2 Post deposit 
                        .bidding_icon2__main 2
                            h2 Receive bids from deposit taking institutions
                        .bidding_icon3__main
                            i.material-icons check
                            h2 Accept best offer
        .loan_offers
            h2 Loan providers
            p We keep an updated list of all the loan providers, giving you the ability to compare rates and perform some calculations when you need to.
            img(src="image/Image_21.png", alt="Loan offers phone")
            img(src="image/Image_21.png", alt="Loan offers phone")
               
    include ./includes/footer
