doctype html
html.no-js(lang='en')
    head
        include ./includes/head
    body.alt-grid
        include ./includes/topbar
        div.slideshow-container
            div(class="mySlides fade")
                div.numbertext 1 / 3
                    img(src="image/img1.png" style="width:100%")
                div.text Caption Text

            div(class="mySlides fade")
                div.numbertext 2 / 3
                    img(src="image/img2.jpg" style="width:100%")
                div.text Caption Two

            div(class="mySlides fade")
                div.numbertext 3 / 3
                    img(src="image/img3.png" style="width:100%")
                div.text Caption Three

            a(class="prev" onclick="plusSlides(-1)") &#10094;
            a(class="next" onclick="plusSlides(1)") &#10095
        br
        div(style="text-align:center")
            span(class="dot" onclick="currentSlide(1)")
            span(class="dot" onclick="currentSlide(2)")
            span(class="dot" onclick="currentSlide(3)")
        script(src="js/carousels.js")

        //- include ./includes/footer
