doctype html
html.no-js(lang='en')
    head
        include ./includes/head
    body.alt-grid
        div.body_background
            include ./includes/topbar
            div(id="carouselExampleIndicators" class="carousel slide" data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                    li(data-target="#carouselExampleIndicators" data-slide-to="1")
                    li(data-target="#carouselExampleIndicators" data-slide-to="2")
                
                div.carousel-inner
                    div(class="carousel-item active")
                        div(class="carousel-caption container carousels__container")
                            div.row
                                div.col-md.carousel__side_text
                                    h2 It's about your money
                                    p Get access to financial services right from the comfort of your phone.
                                    img(src="bimg/googleplay.png", alt="Google Play" class="googleplay__img")
                                div.col-sm
                                    img(src="bimg/Screenshot_1558428283.png", alt="Mobile", class="mobile__img")
                        //- div.carousel_background
                    
                    div(class="carousel-item")
                        div(class="carousel-caption container carousels__container")
                            div.row
                                div.col-md.carousel__side_text
                                    h2 It's about your money
                                    p Get access to financial services right from the comfort of your phone.
                                    img(src="bimg/googleplay.png", alt="Google Play" class="googleplay__img")
                                div.col-sm
                                    img(src="bimg/Screenshot_1558428283.png", alt="Mobile", class="mobile__img")
                        //- div.carousel_background
                    
                    div(class="carousel-item")
                        div(class="carousel-caption container carousels__container")
                            div.row
                                div.col-md.carousel__side_text
                                    h2 It's about your money
                                    p Get access to financial services right from the comfort of your phone.
                                    img(src="bimg/googleplay.png", alt="Google Play" class="googleplay__img")
                                div.col-sm
                                    img(src="bimg/Screenshot_1558428283.png", alt="Mobile", class="mobile__img")
                        //- div.carousel_background
        div.main_services
            h1 Just a tap away
            div.container
                div.row
                    div.col-sm.services_icons
                        img(src="image/Image_15.png", alt="Wallet Icon")
                        br
                        h2 Bid My Doh
                    div.col-sm.services_icons
                        img(src="image/Image_14.png", alt="Wallet Icon")
                        h2 Loan providers
                    div.col-sm.services_icons
                        img(src="image/Image_16.png", alt="Wallet Icon")
                        h2 Branch finder
    include ./includes/footer
