html body {
    overflow-x: hidden;
}
body {
    font-family: Comfortaa;
}
.hero{
    background: #42A5F5;
    color: #F8F8FF;
}

.app-icon {
       color: #afafaf !important;
}
.app-icon-medium {
    height: 100px;
    width: 100px;
}

.app-icon-small {
    height: 24px;
    width: 24px;
}
.app-icon-large {
    font-size: 48px;
    border: 3px solid white;
    margin: 16px;
    color: #42A5F5;
}

.btn-callto-action {
    margin: 3px;
    border-radius: 20px 0px 20px 0px;
    background-color: blueviolet;
}

.feature-div {
    border-radius: 12px;
    margin-bottom: 24px;
    margin-top: 24px; 
    border: 2px solid #afafaf;
    min-height: 300px;
    padding: 28px;
}

.feature-device-chrome{
     border: 2px dotted #42A5F5;
    border-left: 0px solid #42A5F5;
    border-right: 4px;
    margin: 24px 48px;
    border-radius: 35px;
    padding: 12px;
}

.feature-device-chrome2 {
    border: 2px dotted #42A5F5;
    border-right: 4px solid #42A5F5;
    border-left: 0px;
    margin: 24px 48px;
    border-radius: 35px;
    padding: 24px;
}
.get-started{
    background: black;
    color: white;
}

.feature-header{
    font-weight: lighter;
    color: #42A5F5;
    font-kerning: inherit;
}
ul {
    list-style: square;
    text-decoration:  none;
    padding: 12px;
}

.margin-standard {
    margin: 24px;
}

.padding-standard {
    padding: 24px;
}

.nav-button{
    background-color: transparent;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 300;
    color: white;
}
.nav-button:focus {
      font-weight: bold;
      border: 2px dotted white;
      color: white;
}

.menu-button{
    border-color:white;
    color: white;
    border-radius: 0px 12px 0px 12px;
    border-width: 3px;
}

.about {
      -webkit-column-count: 3;
      /* Chrome, Safari, Opera */

      -moz-column-count: 3;
      /* Firefox */

      column-count: 3;
      -webkit-column-width: 100px;
      /* Chrome, Safari, Opera */

      -moz-column-width: 100px;
      /* Firefox */

      column-width: 100px;
}


