footer(class = "footer-area")
    div(class = "container")
        div(class = "row")
            div(class = "col-sm-4" id = "linkrel")
                h3 Ban.Q
                p
                    a(href="index.html") Home
                p
                    a(href="deposit.html") Deposit
                p
                    a(href="about.html") About Us
            div(class = "col-sm-4" id = "linkrel")
                h3 Legal
                p
                    a(href="#") Privacy Policy
                p
                    a(href="#") Terms and conditions
        
            
            div(class ="col-sm-4")
                h3 Contact Us
                span(class = "ikon ")
                    i.material-icons phone_android 2548793655
                span(class ="ikon")
                    i.material-icons email info@ban-q.com
                span(class= "ikon")
                    i.material-icons location_on  Jadala Place, Mezzanine Floor
        div(class = "row")
                div(class = "col-sm-4")
                div(class = "col-sm-4")
                div(class = "col-sm-4")
                     i.material-icons copyright 2019 BandotQ Ltd

                
                
