footer(class = "footer-area")
    div(class = "container")
        div(class = "row")
            div(class = "col-sm-4")
                h3 Ban.Q
                p
                    a(href="index.html") Home
                p
                    a(href="deposit.html") Deposit
                p
                    a(href="about.html") About Us
            div(class = "col-sm-4")
                h3 Legal
                p
                    a(href="#") Privacy Policy
                p
                    a(href="#") Terms and conditions
            div(class ="col-sm-4")
                h3 Contact Us
                span(class = "ikon ")
                    i 2548793655
                span(class ="ikon")
                    i info@ban-q.com
                span(class= "ikon")
                    i Jadala Place, Mezzanine Floor
        div(class = "row")
            div(class = "col-sm-12")
            div(class = "col-sm-12")
            div(class = "col-sm-12")
                p 2019 BandotQ Ltd

                
                
