footer(class = "footer-area")
    div(class = "container")
        div(class = "row")
            div(class = "col-md-4 col-sm-4" id = "linkrel")
                h3 Ban.Q
                p
                    a(href="index.html") Home
                p
                    a(href="deposit.html") Deposit
                p
                    a(href="about.html") About Us
            div(class = "col-md-4 col-sm-4" id = "linkrel")
                h3 Legal
                p
                    a(href="#") Privacy Policy
                p
                    a(href="#") Terms and conditions
        
            
            div(class ="col-md-4 col-sm-4")
                h3 Contact Us
                span(class = "ikon")
                    i.material-icons phone_android
                span(class='contact-icons') 2548793655 <br>
                span(class ="ikon")
                    i.material-icons email
                    span(class='contact-icons') info@ban-q.com <br>
                span(class= "ikon")
                    i.material-icons location_on
                    span(class='contact-icons') Jadala Place, Mezzanine Floor <br>
                span(class="ikon")
                    i.material-icons copyright
                    span(class='contact-icons') 2019 BandotQ Ltd
