footer(class = "footer-area")
    div(class = "container")
        div(class = "row")
            div(class = "col-sm-4")
                h3 Ban.Q
                p
                    a(href="/") Home
                p
                    a(href="/deposit") Deposit
                p
                    a(href="/about") About Us
            div(class = "col-sm-4")
                h3 Legal
                p
                    a(href="#") Privacy Policy
                p
                    a(href="#") Terms and conditions
            div(class ="col-sm-4")
                h3 Contact Us
                    i.material-icons phone_android  2548793655
    
                    i.material-icons email info@ban-q.com


                
                    i.material-icons location_on Jadala Place, Mezzanine Floor
                
                    
        div(class = "row")
            div(class = "col-sm-4")
            div(class = "col-sm-4")
            div(class = "col-sm-4")
                p 2019 BandotQ Ltd

                
                
